<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3 routerLink="/news" routerLinkActive="active">Sunny Times</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a routerLink="/business" routerLinkActive="active">Business</a>
    </li>
    <li>
      <a routerLink="/life" routerLinkActive="active">Life</a>
    </li>
    <li>
      <a routerLink="/sports" routerLinkActive="active">Sports</a>
    </li>
    <li>
      <a routerLink="/national" routerLinkActive="active">National News</a>
    </li>
    <li>
      <a routerLink="/international" routerLinkActive="active">International News</a>
    </li>
    <li *ngIf="loginService.isLoggedIn" class="display-cursor-pointer">
        <a routerLink="/category" routerLinkActive="active">Add new category</a>
    </li>
    <li *ngIf="loginService.isLoggedIn" class="display-cursor-pointer">
        <a routerLink="/article" routerLinkActive="active">Add new article</a>
    </li>
  </ul>
  <div class="auth-buttons">
    <div class="signup">
      <a routerLink="/signup" routerLinkActive="active">Create account</a>
    </div>
    <div class="login" (click)="onLoginClick()">
      <a>Login</a>
    </div>
  </div>
</nav>


