.button-container {
  display: block;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}
.buttons-container {
  width: 100%;
  display: flex;
}

.normal-card {
  width: 18rem;
}
.double-card {
  width: 100%;
  background-size: cover;
}

.app-card-container {
  margin: 15px;
  display: block;
}

.app-card-container-double {
  width: calc(36rem + 30px);
}

.card-body-double {
  margin: auto;
  width: 95%;
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.button-liked {
  background-color: #6ad6eb;
}
