<div
  [ngClass]="{ 'app-card-container-double': isDouble }"
  class="app-card-container"
>
  <div
    class="card"
    [ngClass]="{ 'normal-card': !isDouble, 'double-card': isDouble }"
  >
    <img
      class="card-img-top"
      *ngIf="!isDouble"
      src="https://images.theconversation.com/files/146533/original/image-20161118-19352-186bcu6.jpg?ixlib=rb-1.1.0&rect=0%2C617%2C6313%2C3062&q=45&auto=format&w=1356&h=668&fit=crop"
      alt="Card image cap"
      height="142px"
    />
    <div
      class="card-img-top"
      style="display: block;height: 200px;;"
      *ngIf="isDouble"
    ></div>
    <div class="card-body" [ngClass]="{ 'card-body-double': isDouble }">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <div class="buttons-container">
        <div class="button-container">Like</div>
        <div style="display: block;width: 40px;;"></div>
        <div class="button-container">Save</div>
      </div>
    </div>
  </div>
</div>
