<div
  [ngClass]="{ 'app-card-container-double': isDouble }"
  class="app-card-container"
>
  <div
    class="card"
    [ngClass]="{ 'normal-card': !isDouble, 'double-card': isDouble }"
    [ngStyle]="{ 'background-image': isDouble ? getImage() : 'none' }"
  >
    <img
      class="card-img-top"
      *ngIf="!isDouble"
      src="{{ articleData.image }}"
      alt="Card image cap"
      height="142px"
    />
    <div
      class="card-img-top"
      style="display: block;height: 200px;;"
      *ngIf="isDouble"
    ></div>
    <div class="card-body" [ngClass]="{ 'card-body-double': isDouble }">
      <h5 class="card-title">{{ getTitleContent() }}</h5>
      <p class="card-text">
        {{ getContent() }}...
        <a
          routerLink="/article/{{ articleCategory }}/{{ articleData.id }}"
          style="color:blue"
          >Read more</a
        >
      </p>
      <div class="buttons-container">
        <div class="button-container">Like</div>
        <div style="display: block;width: 40px;;"></div>
        <div class="button-container">Save</div>
      </div>
    </div>
  </div>
</div>
