<div style="display: inline;">
  <div style="float:left">
    <app-news-card isDouble="true"></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
  <div style="float:left">
    <app-news-card></app-news-card>
  </div>
</div>
