
  <!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color:#6200EE; font-size: 12px; width: 1270px;">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <p style="color:white">About us</p>
          <p style="color:white">Contact us at: 1234-5678-9012</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <p style="color:white">Subscribe to our newsletter</p>
        <input type="text" class="form-control" style="width: 100px; height:25px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" placeholder="Name">
        <button type="submit" style="color:#6200EE">Ok</button>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
  </footer>
  <!-- Footer -->