<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-40">Create a new account</h1>
                    <br><br><br>
                    <div class="px-2">
                        <form action="" class="justify-content-center">
                            <div class="form-group" style="display:flex">
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;">Name & &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Surname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div style="padding-top: 12px;">
                                    <input type="text" class="form-control" style="width: 300px; height:45px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" placeholder="Name">
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="display:flex">
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;">Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div style="padding-top: 12px;">
                                    <input type="text" class="form-control" style="width: 300px; height:45px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" placeholder="Username">
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="display:flex">
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div style="padding-top: 12px;">
                                    <input type="password" class="form-control" style="width: 300px; height:45px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" placeholder="Password">
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="display:flex">
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;">Mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div style="padding-top: 12px;">
                                    <input type="text" class="form-control" style="width: 300px; height:45px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" placeholder="Name">
                                </div>
                            </div>
                            <br>
                            <div class="form-group" style="display:flex">
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;">Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary" style="background-color:#6200EE">Male</button>
                                    <button type="button" class="btn btn-primary" style="background-color:#6200EE">Female</button>
                                  </div>
                            </div>
                            <br>
                            <button (click)="onSubmitClick()" class="btn btn-primary btn-lg" style="background-color: #6200EE;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>